{% extends "login.html" %}
{% block contenido %}
{% if validlink %}
<form method="post">
  {% csrf_token %}
  <div class="mb-1 p-3 text-left">
    {{ form.new_password1.label_tag }} <br>
    {{ form.new_password1 }}
  </div>
  <div class="mb-1 p-3 text-left">
    {{ form.new_password2.label_tag }} <br>
    {{ form.new_password2 }}
  </div>
  <div class="mb-1 p-3 text-center">
    <input type="submit" value="Establecer nueva contraseña">
  </div>
</form>
{% else %}
<div class="mb-1 p-3 text-center">
  <p>El enlace de restablecimiento no es válido, posiblemente porque ya fue usado.</p>
  <a href="{% url 'password_reset' %}">Solicitar un nuevo enlace</a>
</div>
{% endif %}
{% endblock %}
